version: "3.9"
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: todo
    ports:
      - "5432:5432"
    volumes:
      - todo_pgdata:/var/lib/postgresql/data

volumes:
  todo_pgdata:

  # app:
  #   build:
  #     context: .
  #     target: final
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - NODE_ENV=development